<html class="error">
	<head>
		<title>Socialtables Example App</title>
		<link rel="stylesheet" type="text/css" href="/base.css"/>
	</head>
	<body>
		<div class="main">
			<div class="top">
				<object id="st-logo" type="image/svg+xml" data="/st-icon.svg" height=200px;><img src="/st-icon.svg"/></object>
				<h1>Something Went Wrong!</h1>
			</div>
			<div class="content">
				<p><%= error %></p>
				<p>
					<a href="/" class="btn call-to-action">Start over</a>
				</p>
			</div>
		</div>
	</body>
</html>
